apiVersion: fournos.dev/v1
kind: FournosJob
metadata:
  name: {{ ctx.final_job_name }}
  namespace: {{ args.namespace }}
  {% if args.ci_label -%}
  labels:
    ci-run: {{ args.ci_label }}
  {%- endif %}
spec:
  owner: {{ args.owner }}
  displayName: {{ args.display_name }}
  {% if args.clusterless -%}
  clusterless: {{ args.clusterless }}
  {%- else -%}
  cluster: {{ args.cluster_name }}
  {%- endif %}
  exclusive: {{ args.exclusive }}
  pipeline: {{ args.pipeline_name }}
  {% if args.gpu_count and args.gpu_type -%}
  hardware:
    gpuCount: {{ args.gpu_count }}
    gpuType: {{ args.gpu_type }}
  {%- endif %}
  executionEngine:
    forge:
      project: {{ args.project }}
      args:
{{ args.args | toyaml | indent(8, true)}}
      configOverrides:
{{ args.variables_overrides | toyaml | indent(8, true)}}
  env:
{{ args.env | toyaml | indent(4, true) }}
